<%= form_for(@libochao) do |f| %>
  <% if @libochao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@libochao.errors.count, "error") %> prohibited this libochao from being saved:</h2>

      <ul>
      <% @libochao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
